XYZ.Clientes/Integracao/Service References/XYZServiceReference/IntegracaoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/XYZ.WcfIntegracao.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/XYZ.WcfIntegracao.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BusinessFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MensagemInterna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessFault" nillable="true" type="tns:BusinessFault" />
</xs:schema>