XYZ.Clientes/Integracao/Service References/XYZServiceReference/IntegracaoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntegracaoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58758/IntegracaoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58758/IntegracaoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58758/IntegracaoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/XYZ.Dominio" />
      <xsd:import schemaLocation="http://localhost:58758/IntegracaoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/XYZ.WcfIntegracao.Faults" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntegracaoService_ObterClientesIncompletos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterClientesIncompletos" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoService_ObterClientesIncompletos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterClientesIncompletosResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoService_ObterClientePorId_InputMessage">
    <wsdl:part name="parameters" element="tns:ObterClientePorId" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoService_ObterClientePorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObterClientePorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoService_AtualizarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarCliente" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoService_AtualizarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoService_AtualizarCliente_BusinessFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/XYZ.WcfIntegracao.Faults" name="detail" element="q1:BusinessFault" />
  </wsdl:message>
  <wsdl:portType name="IIntegracaoService">
    <wsdl:operation name="ObterClientesIncompletos">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoService/ObterClientesIncompletos" message="tns:IIntegracaoService_ObterClientesIncompletos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoService/ObterClientesIncompletosResponse" message="tns:IIntegracaoService_ObterClientesIncompletos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObterClientePorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoService/ObterClientePorId" message="tns:IIntegracaoService_ObterClientePorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoService/ObterClientePorIdResponse" message="tns:IIntegracaoService_ObterClientePorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoService/AtualizarCliente" message="tns:IIntegracaoService_AtualizarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoService/AtualizarClienteResponse" message="tns:IIntegracaoService_AtualizarCliente_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IIntegracaoService/AtualizarClienteBusinessFaultFault" name="BusinessFaultFault" message="tns:IIntegracaoService_AtualizarCliente_BusinessFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIntegracaoService" type="tns:IIntegracaoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObterClientesIncompletos">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoService/ObterClientesIncompletos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObterClientePorId">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoService/ObterClientePorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarCliente">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoService/AtualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BusinessFaultFault">
        <soap:fault use="literal" name="BusinessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegracaoService">
    <wsdl:port name="BasicHttpBinding_IIntegracaoService" binding="tns:BasicHttpBinding_IIntegracaoService">
      <soap:address location="http://localhost:58758/IntegracaoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>