XYZ.Clientes/Integracao/Service References/XYZServiceReference/IntegracaoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/XYZ.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/XYZ.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTbCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TbCliente" nillable="true" type="tns:TbCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTbCliente" nillable="true" type="tns:ArrayOfTbCliente" />
  <xs:complexType name="TbCliente">
    <xs:sequence>
      <xs:element name="_x003C_DataNascimento_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_Endereco_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Nome_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TelefoneCelular_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_TelefoneResidencial_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TbCliente" nillable="true" type="tns:TbCliente" />
</xs:schema>