XYZ.Clientes/Integracao/Service References/XYZServiceReference/IntegracaoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58758/IntegracaoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/XYZ.Dominio" />
  <xs:element name="ObterClientesIncompletos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterClientesIncompletosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/XYZ.Dominio" minOccurs="0" name="ObterClientesIncompletosResult" nillable="true" type="q1:ArrayOfTbCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterClientePorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObterClientePorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/XYZ.Dominio" minOccurs="0" name="ObterClientePorIdResult" nillable="true" type="q2:TbCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/XYZ.Dominio" minOccurs="0" name="cliente" nillable="true" type="q3:TbCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>